.cartLink {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

.cartLink:hover {
  background-color: #e4e4e4;
}

.cartLink span {
  margin-right: 0.5rem;
}

.iconContainer {
  position: relative;
  margin-right: 0.5rem;
}

.itemCount {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: -0.6rem;
  left: 0.9rem;

  font-size: 0.75rem;
  line-height: 1;
  background-color: #000;
  color: #fff;
  border-radius: 15px;

  min-width: 1.25rem;
  min-height: 1.25rem;
  padding: 0.25rem;
}

.pulse {
  animation: pulse 0.3s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
