.cartSection {
  padding: 4.4rem 2.5rem;
}

.cartHeading {
  text-align: center;
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.flexDiv {
  display: flex;
  flex-direction: column;
}

.headerList {
  display: none;
}

.cartItems {
  position: relative;
  margin: 2rem 0;
}

.itemCountList,
.cartItem {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.cartItem {
  display: grid;
  grid-template-areas:
    "itemImage titleCategoryContainer"
    "itemImage totalQuantityContainer";
  grid-template-columns: 90px 1fr;
}

.itemCountList {
  font-size: 1.25rem;
  font-weight: 800;
}

.leftSection {
  display: contents;
}

.itemImage {
  grid-area: itemImage;
  align-self: start;
  max-width: 75px;
  margin-right: 1.25rem;
}

.itemTitle {
  font-size: 1.15rem;
}

.itemCategory,
.emptyCartNotification a {
  display: inline-block;
  color: #444444;
  margin-top: 0.25rem;
}

.itemCategory:hover,
.emptyCartNotification a:hover {
  text-decoration: underline;
}

.itemPrice {
  display: none;
}

.totalQuantityContainer {
  grid-area: totalQuantityContainer;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1rem;
}

.itemTotal,
.itemPrice {
  font-size: 1.1rem;
  font-weight: 800;
}

.orderContainer {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  max-width: 25rem;
  padding: 1.5rem;
  margin: 3rem auto;
}

.orderSummaryHeading {
  font-size: 1.75rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.orderList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}

.orderList:nth-child(3) {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #ccc;
}

.orderList:nth-child(4) {
  padding-top: 0.5rem;
}

.orderDescription {
  font-weight: 800;
  padding: 0.45rem 0;
}

.checkoutButton {
  display: block;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  margin: 1.5rem auto;
}

.checkoutButton:hover {
  cursor: pointer;
  background-color: #2b2b2b;
}

.checkoutButton:focus-visible {
  outline: 2px solid #2684ff;
  animation: pulse 0.3s ease;
}

.emptyCartNotification {
  font-size: 1.15rem;
  line-height: 1.6;
  padding: 1.1rem;
}

.emptyCartNotification p {
  font-weight: 800;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 400px) {
  .totalQuantityContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .itemTotal {
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 700px) {
  .itemCountList {
    padding: 0;
    border: none;
  }

  .headerList {
    padding: 1rem 0 0.75rem 0;
    border-bottom: 1px solid #ccc;
  }

  .headerList,
  .cartItem {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1rem;
  }

  .headerPrice {
    display: none;
  }

  .leftSection {
    display: flex;
  }

  .totalQuantityContainer {
    display: contents;
  }

  .orderContainer {
    align-self: flex-end;
    margin: 3rem 0;
  }
}

@media (min-width: 850px) {
  .headerList,
  .cartItem {
    grid-template-columns: 2.5fr 1fr 1fr 1fr;
  }

  .headerPrice {
    display: block;
  }

  .itemPrice {
    display: block;
  }
}

@media (min-width: 1000px) {
  .flexDiv {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
    margin: 6rem auto 3rem auto;
  }

  .cartItemsContainer {
    flex: 2.5;
    max-width: 1300px;
    max-height: 600px;
    overflow: auto;
  }

  .cartItems {
    margin: 0;
  }

  .headerList {
    position: sticky;
    top: 0;
    background-color: #fff;
  }

  .orderContainer {
    align-self: flex-start;
    flex: 1;
    margin: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .headerList,
  .cartItem {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .headerPrice {
    display: none;
  }

  .itemPrice {
    display: none;
  }
}

@media (min-width: 1300px) {
  .flexDiv {
    padding: 0 clamp(1.5rem, 2vw, 3rem);
  }
}
