.cartSection {
  padding: 1.5rem;
}

.cartHeading {
  text-align: center;
  font-size: 2.5rem;
  margin: 1.5rem 0;
}

.cartItemsHeader,
.cartItem {
  display: flex;
  align-items: center;
}

.productInformation {
  flex: 2;
  display: flex;
}

.productInformation img {
  max-width: 100px;
}
