.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  max-height: 800px;
}

.errorText {
  text-align: center;
  font-size: 1.25rem;
  color: #f10f0f;
}

.errorText p {
  margin-bottom: 0.25rem;
}
