.navbar {
  font-family: "latobold", Arial, Helvetica, sans-serif;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  padding: 1rem 1.5rem;
  z-index: 999;
}

.navbar a {
  color: #000;
}

.categoriesList {
  position: absolute;
  top: 4.5rem;
  left: 0;
  list-style-type: none;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 998;
}

.categoriesList li {
  border-bottom: 1px solid #f1f1f1;
}

.categoriesList a {
  padding: 1rem 4rem;
}

.categoriesList a:hover {
  background-color: #f3f1f1;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.categoriesButton {
  background-color: transparent;
  border: none;
  margin-right: 0.5rem;
}

.categoriesButton span {
  position: relative;
  top: 0.13rem;
}

.categoriesButton:hover {
  cursor: pointer;
  background-color: #e4e4e4;
  border-radius: 5px;
}

.logo {
  font-size: 1.5rem;
}

@media (min-width: 560px) and (max-width: 1000px) {
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .categoriesList {
    top: 4rem;
  }
}

@media (min-width: 1000px) {
  .navbar {
    padding: 1rem 2.5rem;
  }

  .categoriesList {
    position: static;
    display: flex;
    justify-content: center;
    box-shadow: none;
  }

  .categoriesList li {
    border-bottom: none;
  }

  .categoriesList a {
    padding: 0;
  }

  .categoriesButton {
    display: none;
  }

  .categoriesList li {
    padding: 0 1.5rem;
  }

  .categoriesList a:hover {
    border-color: #000;
    background-color: transparent;
  }
}
