.footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 4rem 2rem 2rem 2rem;
}

.footerGradient {
  height: 200px;
  background: linear-gradient(
    to bottom,
    white 0%,
    #f5f5f5 20%,
    #ddd 40%,
    #aaa 60%,
    #555 80%,
    black 100%
  );
  margin-top: 5rem;
}

.logo {
  font-family: "latobold", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-shadow:
    0 0 10px rgba(255, 255, 255, 0.6),
    0 0 20px rgba(255, 255, 255, 0.4),
    0 0 40px rgba(255, 255, 255, 0.2);
  margin-bottom: 2rem;
}

.footerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 2rem;
}

.footerContent h4 {
  font-size: clamp(1.25rem, 2vw, 1.75rem);
  margin-bottom: 0.5rem;
}

.footerContent p {
  font-size: clamp(1rem, 2vw, 1.1rem);
  line-height: 1.5;
  overflow-wrap: break-word;
  max-width: 60ch;
  margin: 0 auto;
}

.statement {
  display: none;
  width: 30%;
  max-width: 400px;
}

.apiCredit {
  margin-bottom: 2rem;
}

.apiCredit a {
  display: inline;
  color: #fff;
  text-decoration: underline;
}

.apiCredit,
.attributions {
  text-align: center;
}

@media (min-width: 800px) {
  .footerContent {
    flex-direction: row;
    justify-content: space-around;
  }

  .footerContent p {
    max-width: 400px;
    margin: 0;
  }

  .footerContent div,
  .footerContent p {
    text-align: left;
  }

  .apiCredit {
    margin-right: 1rem;
  }

  .attributions {
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .statement {
    display: block;
    margin-right: 1rem;
  }
}
