.errorSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  line-height: 1.6;
  height: 90vh;
  padding: 1.5rem;
}

.logo {
  font-family: "latobold", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  color: #000;
  margin-bottom: 1rem;
}

.errorSection h1 {
  font-size: 2rem;
}

.errorSection p,
.homeLink {
  font-size: 1.25rem;
}

.homeLink {
  color: #444;
  margin-top: 1rem;
}

.homeLink:hover {
  text-decoration: underline;
}
